USE [master]
GO
/****** Object:  Database [Upmeet]    Script Date: 10/19/2020 3:35:14 PM ******/
CREATE DATABASE [Upmeet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Upmeet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Upmeet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Upmeet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Upmeet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Upmeet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Upmeet]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 10/19/2020 3:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[date] [nvarchar](max) NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 10/19/2020 3:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [nvarchar](max) NOT NULL,
	[eventid] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([id], [name], [date]) VALUES (1, N'TestName', N'Now')
INSERT [dbo].[Event] ([id], [name], [date]) VALUES (2, N'TestName2', N'Yesterday')
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorite] ON 

INSERT [dbo].[Favorite] ([id], [userid], [eventid]) VALUES (1, N'User1', 2)
INSERT [dbo].[Favorite] ([id], [userid], [eventid]) VALUES (2, N'User2', 1)
SET IDENTITY_INSERT [dbo].[Favorite] OFF
GO
USE [master]
GO
