
<div>
  <h2>Events</h2>
  <h6>(Click to see more detail)</h6>
  <br /><br />
  <ng-container *ngFor="let frank of events">
    <div class="event">

    <a routerLink="/eventdetails" [queryParams]="frank">
      <div class="link">{{frank.name}}</div></a><button class="favorite" (click)="addFavorite()">+</button><br />
    </div><br/>
  </ng-container>

  <br />
  <button (click)="doHidden()">Add Event</button>
  <br /><br />
  <div [ngClass]="{'hidden':!isHidden}">
    Event Name: <input [(ngModel)]="name" type="text" /><br />
    Event Date: <input [(ngModel)]="date" type="text" /><br />
   
    <br />
    <button (click)="addEvent()" (click)="doHidden()"> Submit </button>
  </div>


</div>
